/* Welcome message styling */
.welcome-message {
  font-size: 24px;
  font-weight: bold;
}

/* Profile Card */
.profile-card {
  border-radius: 15px;
  box-shadow: 0 12px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: rgba(235, 230, 230, 0.802);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 150px;
}

/* Profile card title and subtitle */
.profile-card .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.profile-card .card-subtitle {
  font-size: 1rem;
  margin-top: -5px;
}

/* View Profile button */
.profile-card .btn-outline-success {
  border-radius: 20px;
}

/* Profile image styling */
.profile-card img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.icon-box {
  background-color: #28a745;
  border-radius: 15px;
  color: white;
  height: 100%;
  min-height: 150px;
  width: 100%;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between; /* Space icon and number apart */
  align-items: center;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

/* Icon styling */
.icon-lg {
  font-size: 50px;
  color: white;
}

/* Number styling */
.icon-box h5 {
  font-size: 70px;
  margin: 0;
  color: white;
}

/* Text styling for the requests */
.icon-box p {
  font-size: 16px; /* Request text size */
  margin: 0;
  margin-top: 5px;
  color: white; /* White request text */
}

/* New Request button styling */
.request-btn {
  background-color: #28a745;
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #28a745;
  transition: all 0.3s ease;
}

.request-btn:hover,
.request-btn:focus {
  background-color: white;
  color: #28a745;
  border-color: #28a745;
}

.request-btn:active {
  background-color: white;
  color: #28a745;
  border-color: #28a745;
  transform: scale(0.95);
}

/* View Profile button */
.view-profile-btn {
  background-color: white;
  color: #28a745;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #28a745;
  transition: all 0.3s ease;
}

.view-profile-btn:hover,
.view-profile-btn:focus {
  background-color: #28a745;
  color: white;
  border-color: #28a745;
}

.view-profile-btn:active {
  background-color: #28a745;
  color: white;
  border-color: #28a745;
  transform: scale(0.95);
}
